# Environment variables for the backend – copy to .env and fill real values

APP_NAME=ZENTRUST
DATABASE_NAME=postgreql

DATABASE_URL=postgresql://postgres:your_password@localhost:5432/zen_db
SECRET_KEY=your secret key
ALGORITHM=H256
EXPIRE_TOKEN_TIME=30
